
.questions-container{
    color: black;
}
.submit-btn{
    color: black;
    
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 40px;
}
.all-container{
    width: 100%;
    
}
.form-container{
    width: 35%;
    border: 3px;
}
.phone-span{
    display: inline;
}
.inputs{
    margin-top: 18px;
}
.submit-btn{
    color: rgb(5, 90, 5);
}
@media (max-width: 544px)
{
    .form-container{
        width: 90%;
        border: 3px;
    }
    .gift-text{
        margin-left: 28px;
    }
    .winner-text{
        color: rgba(42, 128, 56, 0.966);
        
    }
}